html {
  font-size: 10px;
  background-color: darkslategrey;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav > form {
  display: flex;
  align-self: center;
}

nav > form > label {
  display: flex;
  align-self: center;
  margin-right: 2rem;
}

.buttons {
  display: flex;
  align-self: center;
  margin-right: 2rem;
}

#play, #stop {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem .5rem;
  transition: all .07s ease;
  width: 11rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 .5rem black;
  text-decoration: none;
  display: block;
  font-size: 4rem;
}

.key-list {
  margin: 4rem 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.track-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.track-list > li { 
  border-left: .5rem solid rgb(110, 110, 110);
  border-right: .5rem solid rgb(110, 110, 110);
  border-bottom: 1rem solid rgb(110, 110, 110);
}

.track-list > li:first-child {
  border-top: .5rem solid rgb(110, 110, 110);
}

.beats {
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  list-style: none;
}

.markers {
  margin: 3rem 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  list-style: none;
}

.beat, .markers > li {
  border: .4rem solid black;
  /* background: rgba(0,0,0,0.4); */
}

.beat, .markers > li {
  border-radius: .5rem;
  font-size: 1.5rem;
  padding: 5rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgba(27,27,27,1);
  box-shadow: 0 0 0.3rem 0.3rem black;
}

.empty-key {
  border: .4rem solid rgba(0,0,0,0);
  margin: 1rem;
  padding: .5rem .5rem;
  width: 10rem;
  height: 4.2rem;
  background: rgba(0,0,0,0);
}

.toggle {
  transition: all .07s ease;
  background: green;
  box-shadow: inset 0 0 0.3rem 0.3rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}